@model List<_19_RestorantUygulamasi.ViewModel.MasaListeViewModel>
@{
    ViewData["title"] = "Masalar";
}
<h2 class="mb-4">Masalar</h2>
<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-3 mb-3">
            <div class="card @(item.Masa.DoluMu?"bg-danger":"bg-primary")">
                <div class="card-body text-center">
                    <h5 class="card-title">Masa @item.Masa.MasaNumarasi</h5>
                    @if(item.Masa.DoluMu&&item.AktifRezervasyon!=null)
                    {
                        <p class="card-text">
                            <span class="text-danger"><strong>Dolu</strong></span><br />
                            <small class="text-white">Müşteri:<strong>@item.AktifRezervasyon.MusteriAdi</strong></small>
                            <small class="text-white">Saat:<b>@item.AktifRezervasyon.RezervasyonTarihi.ToString("HH:mm")</b></small>
                        </p>
                    }
                    else if(item.Masa.DoluMu)
                    {
                        <p class="text-center">
                            <span class="text-white"><b>Dolu Masa</b></span>
                        </p>
                    }
                    else
                    {
                        <p class="text-center">
                            <span class="text-white"><b>Boş</b></span>
                        </p>
                    }
                    <div class="d-flex justify-content-center">
                        <a asp-action="Detay" asp-controller="Rezervasyon" asp-route-masaId="@item.Masa.Id" class="btn btn-success btn-sm me-2">Düzenle</a>
                        <form asp-action="DurumDegistir" asp-controller="Garson" method="post" class="d-inline">
                            <input type="hidden" name="masaId" value="@item.Masa.Id" />
                            <button type="submit" class="btn @(item.Masa.DoluMu?"btn-success":"btn-danger") btn-sm">
                                @(item.Masa.DoluMu?"Boş Yap":"Dolu Yap")
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>